/*! weblib-ss 0.0.1 */
.gameObjectEditor {
  width: 200px;
  background-color: #DDDDDD;
  border: thin black solid;
  margin: 5px;
  padding: 5px;
}
.componentName {
  font-weight: bold;
  border-bottom: thin black solid;
}
.gameObjectName {
  font-weight: bold;
  font-size: large;
  border-bottom: medium black solid;
  padding: 5px;
}
